# .env.sync.example
# Salin file ini menjadi .env.sync dan isi dengan Service Account credentials
# dari Firebase Console -> Project Settings -> Service accounts -> Generate new private key

# ── Firebase PRODUCTION ────────────────────────────────────────────────────
PROD_PROJECT_ID=nama-project-firebase-production
PROD_CLIENT_EMAIL=firebase-adminsdk-xxxxx@nama-project.iam.gserviceaccount.com
PROD_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nKEY_ANDA_DI_SINI\n-----END PRIVATE KEY-----\n"

# ── Firebase STAGING ───────────────────────────────────────────────────────
STAGING_PROJECT_ID=nama-project-firebase-staging
STAGING_CLIENT_EMAIL=firebase-adminsdk-xxxxx@nama-project-staging.iam.gserviceaccount.com
STAGING_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nKEY_ANDA_DI_SINI\n-----END PRIVATE KEY-----\n"
